/* PHASE 7: Online */
.profile-picture {
  overflow: hidden;
}

.online {
  position: absolute;
  display: block;
  background-color: #0c0;
  transform: rotate(-45deg) translateX(-30%);
  color: white;
  padding: 5px 30px;
  top: -10px;
  left: -10px;
  box-shadow: 0 1px 0 0px #070;
  
  
}